# This workflow runs tests and checks via the makefile against the project

name: Make Test and Checks

on:
  pull_request:
    branches: [ main ]
  workflow_call:

jobs:

  test:

    name: Test and Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v2

      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.18

      - name: Install Dependencies
        run: |
          go install honnef.co/go/tools/cmd/staticcheck@latest
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          go install golang.org/x/tools/cmd/goimports@latest

      - name: Make Test
        run: |
          make test
          make checks
        


